<div style="padding: 20%;font-size: 36px;color: red;">
    <mat-card>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <!-- Email Input -->
          <mat-form-field appearance="fill" *ngIf="step === 1">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" (input)="onEmailInput()">
            <mat-error *ngIf="resetForm.get('email').hasError('email') && resetForm.get('email').touched">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
      
          <!-- OTP Input -->
          <mat-form-field appearance="fill" *ngIf="step === 2">
            <mat-label>Enter OTP</mat-label>
            <input matInput formControlName="otp" placeholder="Enter the OTP">
          </mat-form-field>
      
          <!-- New Password Input -->
          <mat-form-field appearance="fill" *ngIf="step === 3">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" placeholder="Enter your new password" type="password">
          </mat-form-field>
      
          <!-- Confirm Password Input -->
          <mat-form-field appearance="fill" *ngIf="step === 3">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="Confirm your new password" type="password">
          </mat-form-field>
      
          <!-- Continue/Resend Button -->
          <button mat-raised-button color="primary" [disabled]="!resetForm.get('email').valid && step === 1">
            {{ step === 2 ? 'Resend OTP' : 'Continue' }}
          </button>
      
          <!-- Submit Button -->
          <button mat-raised-button color="primary" *ngIf="step === 2 || step === 3" type="submit">
            {{ step === 2 ? 'Submit OTP' : 'Save Password' }}
          </button>
        </form>
      </mat-card>
      
</div>

<div class="footer">
    Copyright&#64;{{ today | date: "yyyy" }} Powered by HCS
</div>
